table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

thead tr {
  height: 50px;
  background: #2d2d2d;

  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

tbody tr {
  background-color: #fff;
}

tbody tr td {
  height: 50px;
  padding: 15px 3%;
}

.total-values-table {
  display: flex;
  margin-bottom: 25px;
  justify-content: flex-end;
  color: #fff;
}

.total-value-table {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.total-value-table:not(:last-child) {
  margin-right: 100px;
}

.transaction-table {
  position: relative;
}

.paid-icon {
  cursor: default;
}

.btn-icon.green,
.btn-icon.blue {
  margin-right: 10px;
}

.value-green {
  color: #57ca70;
}

.value-red {
  color: #de5656;
}

.value-blue {
  color: #0dbacc;
}
