.filters {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -132px;
  right: 0px;
  color: #fff;
  font-size: 16px;
}

.filter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.category {
  margin-right: 40px;
}

.icon-filter {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.filter-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
