* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

body * {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  line-height: normal;
}

body {
  background-color: #3d3d3d;
  height: 100rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #2d2d2d;
  margin-bottom: 80px;
}

header img {
  background: none;
  height: 40px;
}

main {
  height: 100vh;
  padding: 0 10rem 5rem;
}

section {
  margin-bottom: 80px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  min-width: 180px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  background-color: #2d2d2d;

  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

button:hover {
  transition: all 0.25s ease-in-out;
  background-color: #1d1d1d;
}

select {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  min-width: 180px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  background-color: #2d2d2d;

  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.section-title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.btn-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #2d2d2d;
}

.btn-icon-green,
.btn-icon.green:hover {
  color: #57ca70;
}

.btn-icon.blue:hover {
  color: #0dbacc;
}

.btn-icon-red,
.btn-icon.red:hover {
  color: #de5656;
}

.input-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.input-group .text-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #2d2d2d;
  outline: 0;
  font-size: 1.3rem;
  color: #2d2d2d;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.input-group .text-input::placeholder {
  color: transparent;
}

.input-group .text-input:placeholder-shown ~ .label-input {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

.label-input {
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: #2d2d2d;
}

.text-input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: #0dbacc;
  border-image-slice: 1;
}

.text-input ~ .label-input {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #2d2d2d;
  font-weight: 700;
}

.text-input:required,
.text-input:invalid {
  box-shadow: none;
}

.modal-background {
  background-color: black;
  width: 100vw;
  height: 100rem;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}
